.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(42, 24, 131);
    background: linear-gradient(0deg, rgba(42, 24, 131, 0.8295693277310925) 50%, rgba(74, 99, 255, 0.8743872549019608) 100%);
    
}
.submit-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-button{
    width: 90%;
    height: 40px; ;
    border-radius: 25px; 
    border: none ;
    outline: none;
    background: rgb(92, 92, 252) ;
    color: white;
    font-size: 14px;
}